language: node_js
node_js:
  - "7.4.0"
install:
  - "npm install --only=dev"
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
cache:
  directories:
    - node_modules
